{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w-full">
    <div class="flex justify-center">
        <h1>home</h1>
    </div>

    <form method="POST" action="{% url 'products:viewset' %}">
        {% csrf_token %}
        <input name="image_url" type="text" class="w-60" placeholder="제품 이미지 링크를 입력하세요">
        <input name="name" type="text" class="w-60" placeholder="상품 이름을 입력하세요">
        <button type="submit">제출</button>
    </form>

    {% for prod in prod_list %}
        <div class="flex">
            <div>
                <img src="{{prod.saved_image_url}}" class="w-40">
            </div>
            <div>
                {{prod.name}}
            </div>
        </div>
    {% endfor %}

    <div class="btn-container flex justify-end">
        <button onclick="location.href=`{% url 'accounts:logout' %}`"
        >로그아웃</button>
    </div>
</div>


{% endblock content %}
