{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w-full">
    <div class="flex justify-center">
        <h1>home</h1>
    </div>

    <form method="POST" action="{% url 'products:viewset' %}" id="add-product">
        {% csrf_token %}
        <input name="image_url" type="text" class="w-60" placeholder="제품 이미지 링크를 입력하세요">
        <input name="name" type="text" class="w-60" placeholder="상품 이름을 입력하세요">
        <button type="submit">제출</button>
    </form>
    <select name="category" form="add-product">
        {% for key, value in cate_dict.items %}
            <option value="{{value}}">{{key}}</option>
        {% endfor %}
    </select>

    {% for key, value in cate_disp_dict.items %}
    <div id="gallery" class="relative w-[300px]" data-carousel="static">
        <!-- Carousel wrapper -->
        <div class="relative h-[150px] overflow-hidden rounded-lg md:h-96">
            {% for prod in prod_list %}
                {% if value == prod.category %}
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="{{prod.saved_image_url}}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
    {% endfor %}

    {% for key, value in cate_disp_dict.items %}
        <div class="flex flex-row w-[700px] h-[200px]">
            {% for prod in prod_list %}
                {% if value == prod.category %}
                <div class="flex">
                    <div>
                        <img src="{{prod.saved_image_url}}" class="w-40">
                    </div>
                    <div class="text-xs">
                        {{prod.name}}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

    <div class="btn-container flex justify-end">
        <button onclick="location.href=`{% url 'accounts:logout' %}`"
        >로그아웃</button>
    </div>
</div>


{% endblock content %}

            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                {% for prod in prod_list %}
                    {{forloop.counter0}}
                    {% if value == prod.category %}
                        {% if forloop.counter0 == 0 %}
                        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                            <img src="{{prod.saved_image_url}}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                        </div>
                        {% else %}
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="{{prod.saved_image_url}}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>