{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Suitcase</title>

    <!-- 3rd Party Modeules -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'js/MyWebSocket.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/APIHandler.js' %}"></script>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<body class="bg-my-beige-500 flex justify-center">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <div class="screen-frame flex flex-col w-screen max-w-screen-lg">
        {% if is_logged_in %}
            {% include "navbar.html" %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    {% block javascripts %}
    {% endblock %}
</body>
</html>