{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>

    <!-- 3rd Party Modeules -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<body class="bg-my-beige-500 flex justify-center">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <div class="screen-frame flex w-[1000px] border-2 mt-20">
        <div class="container flex justify-center border-2 w-full">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block javascripts %}
    {% endblock %}
</body>
</html>