{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w-[400px] h-[400px] p-10 mt-20 m-auto">
    <form method="POST" action="{% url 'accounts:login' %}" class="login-form">
        {% csrf_token %}
        <ul>
            {{form.as_ul}}
        </ul>
        <div class="mt-5">
            <button type="submit" class="form-btn bg-[#C47266]">
                Sign in
            </button>
        </div>
        <div class="sign-link-container">
            <a href="{% url 'accounts:join' %}">New to Suitcase? Create an account.</a>
        </div>
    </form>
</div>
{% endblock content %}